<%- include('parts/header') %>
<%- include('parts/navbar') %>

<!-- start sign up page -->
<div class="container text-center">
    <h3>Create Account</h3>
    <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="enter username" class="mb-2 form-control">
        <% let usernameError = validationErrors.find(err => err.param === 'username') %>
        <% if(usernameError) { %>
            <p class="alert alert-danger">
                <%= usernameError.msg %>
            </p>
        <% } %>
        <input type="email" name="email" placeholder="enter email" class="mb-2 form-control">
        <% let emailError = validationErrors.find(err => err.param === 'email') %>
        <% if(emailError) { %>
            <p class="alert alert-danger">
                <%= emailError.msg %>
            </p>
        <% } %>
        <input type="password" name="password" placeholder="enter password" class="mb-2 form-control">
        <% let passwordError = validationErrors.find(err => err.param === 'password') %>
        <% if(passwordError) { %>
            <p class="alert alert-danger">
                <%= passwordError.msg %>
            </p>
        <% } %>
        <input type="password" name="confirmPassword" placeholder="confirm password" class="mb-2 form-control">
        <% let confirmPasswordError = validationErrors.find(err => err.param === 'confirmPassword') %>
        <% if(confirmPasswordError) { %>
            <p class="alert alert-danger">
                <%= confirmPasswordError.msg %>
            </p>
        <% } %>
        <input type="submit" value="Create Account" class="btn btn-primary">
    </form>
    <br>
    <% if(authError) { %>
    <p class="alert alert-danger">
        <%= authError %>
    </p>
    <% } %>
    
    
    
    <br>
    <div>
        Already have account ? <a href="/login">Login</a>
    </div>
</div>
<%- include('parts/footer') %> 